# Researcher Information

## Python Setup

In [1]:
import pandas as pd

## Read In

In [17]:
emails = pd.read_excel('../output/email_linkage_GC.xlsx')
del emails['name_id_grnt']
profiles = pd.read_csv('../output/researcher_profiles.csv')

In [18]:
emails.head()

,name,inca_name,emails,Source
0,ABDEL MAJID KHATIB,ABDEL MAJID KHATIB,majid.khatib@stlouis.inserm.fr,Linkage
1,ADRIANA OLIVEIRA DOS SANTOS,ADRIANA OLIVEIRA DOS SANTOS,adriana.santos@curie.fr; santos.a.o@gmail.com,Linkage
2,AFSHIN GANGI,AFSHIN GANGI,gangi@unistra.fr; gangi@rad6.u-strasbg.fr,Linkage
3,AGNES CARAVATTI,AGNES CARAVATTI,NaN,NaN
4,AGNES BERNET,AGNES BERNET,bernet@lyon.fnclcc.fr; agnes.bernet@lyon.unica...,Linkage

In [19]:
profiles.head()

,INCA ID,Dimensions Researcher ID,Additional Researcher DIM ID to combine,Additional Researcher DIM ID to combine 2,prenom_port,nom_port,URL 1,URL 2,URL 3
0,inca_1,ur.0642054564.81,NaN,NaN,Jérôme,ABADIE,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN
1,inca_2,ur.01177206360.47,NaN,NaN,Julien,ADAM,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN
2,inca_3,ur.01303404424.36,ur.01067706306.01,NaN,Antoine,ADENIS,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...,NaN
3,inca_4,ur.0673152200.72,NaN,NaN,Eric,ADRIAENSSENS,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN
4,inca_5,ur.01002761217.53,NaN,NaN,Martine,AGGERBECK,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN

In [20]:
print(emails.shape)
print(profiles.shape)

(1000, 4)
(965, 9)

## Linkage

In [21]:
profiles['name'] = (profiles['prenom_port'] + ' ' + profiles['nom_port']).str.upper()
del profiles['prenom_port'], profiles['nom_port']
profiles['name'] = profiles['name'].str.replace(r'\s?-\s?', ' ')
profiles['name'] = profiles['name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [36]:
linkage = pd.merge(emails, profiles, how = 'left', on = 'name')

In [23]:
linkage.describe(include='all')

,name,inca_name,emails,Source,INCA ID,Dimensions Researcher ID,Additional Researcher DIM ID to combine,Additional Researcher DIM ID to combine 2,URL 1,URL 2,URL 3
count,1000,999,970,973,960,960,95,9,960,95,9
unique,1000,999,970,4,960,960,95,9,960,95,9
top,MARC BONNEVILLE,MARC BONNEVILLE,gaillard@ifr88.cnrs-mrs.fr,Linkage,inca_638,ur.01311320125.44,ur.01276574516.35,ur.013774407411.08,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...
freq,1,1,1,913,1,1,1,1,1,1,1

In [30]:
linkage = linkage[(linkage['Source']=='GC')|(linkage['Source']=='Linkage')|(linkage['Source'].isnull())]

In [31]:
linkage.head()

,name,inca_name,emails,Source,INCA ID,Dimensions Researcher ID,Additional Researcher DIM ID to combine,Additional Researcher DIM ID to combine 2,URL 1,URL 2,URL 3
0,ABDEL MAJID KHATIB,ABDEL MAJID KHATIB,majid.khatib@stlouis.inserm.fr,Linkage,inca_729,ur.01207067257.39,NaN,NaN,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN
1,ADRIANA OLIVEIRA DOS SANTOS,ADRIANA OLIVEIRA DOS SANTOS,adriana.santos@curie.fr; santos.a.o@gmail.com,Linkage,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFSHIN GANGI,AFSHIN GANGI,gangi@unistra.fr; gangi@rad6.u-strasbg.fr,Linkage,inca_557,ur.01066731462.51,ur.012652700470.64,NaN,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...,NaN
3,AGNES CARAVATTI,AGNES CARAVATTI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGNES BERNET,AGNES BERNET,bernet@lyon.fnclcc.fr; agnes.bernet@lyon.unica...,Linkage,inca_129,ur.0726141333.93,NaN,NaN,https://inca.dimensions.ai/discover/publicatio...,NaN,NaN

In [32]:
del linkage['Source']

In [34]:
linkage[linkage['emails'].notnull()].describe(include = 'all')

,name,inca_name,emails,INCA ID,Dimensions Researcher ID,Additional Researcher DIM ID to combine,Additional Researcher DIM ID to combine 2,URL 1,URL 2,URL 3
count,970,970,970,941,941,94,9,941,94,9
unique,970,970,970,941,941,94,9,941,94,9
top,MARC BONNEVILLE,MARC BONNEVILLE,gaillard@ifr88.cnrs-mrs.fr,inca_638,ur.01311320125.44,ur.01276574516.35,ur.013774407411.08,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...,https://inca.dimensions.ai/discover/publicatio...
freq,1,1,1,1,1,1,1,1,1,1

In [35]:
linkage.to_csv('../output/researcher_info.csv', index=False)

## Sandbox

In [9]:
grants = pd.read_csv('../data/inca_grants_details.csv')

In [10]:
grants[grants['INCA ID']=="inca_1243"]

,INCA ID,prenom_port,nom_port,organisme_port,Dimensions Grant ID,Title,Abstract,Funder,Reference,Research Org Names,Research Org IDs,FOR,RCDC,Funding Amount ($),Start Date,End Date
1750,inca_1243,Federico,VERGA,"Laboratoire d’Analyse, Topologie, Probabilités...",grant.7154149,Mathematical modeling for the optimization of ...,Chemotherapy is currently the most widely used...,French National Cancer Institute,INCa_1714,Aix-Marseille University,grid.5399.6,0102 Applied Mathematics,Cancer,146645.0,2007-10-01,2010-09-30

In [11]:
emails.head()

,name,inca_name,emails
0,ABDEL MAJID KHATIB,ABDEL MAJID KHATIB,majid.khatib@stlouis.inserm.fr
1,ADRIANA OLIVEIRA DOS SANTOS,ADRIANA OLIVEIRA DOS SANTOS,adriana.santos@curie.fr; santos.a.o@gmail.com
2,AFSHIN GANGI,AFSHIN GANGI,gangi@unistra.fr; gangi@rad6.u-strasbg.fr
3,AGNES CARAVATTI,AGNES CARAVATTI,NaN
4,AGNES BERNET,AGNES BERNET,bernet@lyon.fnclcc.fr; agnes.bernet@lyon.unica...

In [12]:
grants[grants['nom_port'].str.contains('BRAIN')]

Empty DataFrame
Columns: [INCA ID, prenom_port, nom_port, organisme_port, Dimensions Grant ID, Title, Abstract, Funder, Reference, Research Org Names, Research Org IDs, FOR, RCDC, Funding Amount ($), Start Date, End Date]
Index: []

In [13]:
emails[emails['name'].str.contains('VERGA')]

               name inca_name emails
312  FEDERICO VERGA       NaN    NaN